<a href="https://colab.research.google.com/github/pythia23/practice_python/blob/main/hla_basic_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Plotting HLA allele and protein variations

In [1]:
#HLA class 1 alleles: A, B, C
#Each HLA class I molecule consists of 1 alpha chain and 1 invariant beta microglobuliin
hla_a=4264
print("Number of possible HLA-A molecules = " + str(hla_a))
hla_b=5240
print("Number of possible HLA-B molecules = " + str(hla_b))
hla_c=3953
print("Number of possible HLA-C molecules = " + str(hla_c))

hla1_variants=hla_a+hla_b+hla_c
hla1_variants_scientific="{0:.2E}".format(hla1_variants)
hla1_haplotypes=hla_a*hla_b*hla_c
hla1_haplotypes_scientific="{0:.2E}".format(hla1_haplotypes)
print("Number of possible HLA class 1 molecules= " + str(hla1_variants))
print("Number of possible HLA class 1 haplotypes = " + str(hla1_haplotypes_scientific))

#HLA class 2 alleles: DR, DQ, DP
#HLA-DR (DRA is invariant, all have DRB1, some may have 1 of DRB3-5)
hla_dra=1
hla_drb1=2079
hla_drb2=0
hla_drb3=306
hla_drb4=134
hla_drb5=125
hla_drb6=0
hla_drb7=0
hla_drb8=0
hla_drb9=0

hla_dr_variants=hla_dra*(hla_drb1*(hla_drb2+hla_drb3+hla_drb4+hla_drb5))
print("Number of possible HLA-DR molecules = " + str(hla_dr_variants))

#HLA-DQ
hla_dqa1=185
hla_dqa2=0
hla_dqb1=1366

hla_dq_variants=(hla_dqa1+hla_dqa2)*hla_dqb1
print("Number of possible HLA-DQ molecules = " + str(hla_dq_variants))

#HLA-DP
hla_dpa1=147
hla_dpa2=0
hla_dpb1=1189
hla_dpb2=0
hla_dp_variants=(hla_dpa1+hla_dpa2)*(hla_dpb1+hla_dpb2)
print("Number of possible HLA-DQ molecules = " + str(hla_dp_variants))


hla2_variants=hla_dr_variants+hla_dq_variants+hla_dp_variants
hla2_variants_scientific="{0:.2E}".format(hla2_variants)
hla2_haplotypes=hla_dr_variants*hla_dq_variants*hla_dp_variants
hla2_haplotypes_scientific="{0:.2E}".format(hla2_haplotypes)
print("Number of possible HLA class 2 molecules= " + str(hla2_variants))
print("Number of possible HLA class 2 molecules= " + str(hla2_variants_scientific))
print("Number of possible HLA class 2 haplotypes = " + str(hla2_haplotypes_scientific))

Number of possible HLA-A molecules = 4264
Number of possible HLA-B molecules = 5240
Number of possible HLA-C molecules = 3953
Number of possible HLA class 1 molecules= 13457
Number of possible HLA class 1 haplotypes = 8.83E+10
Number of possible HLA-DR molecules = 1174635
Number of possible HLA-DQ molecules = 252710
Number of possible HLA-DQ molecules = 174783
Number of possible HLA class 2 molecules= 1602128
Number of possible HLA class 2 molecules= 1.60E+06
Number of possible HLA class 2 haplotypes = 5.19E+16

In [20]:
hla_class1 = (hla_a,hla_b,hla_c)
print(type(hla_class1))
print("hla_class1 = "+str(hla_class1))
print(hla_class1[0])
print(hla_class1[2])
print(hla_class1[-2])
#Subsetting
print(hla_class1[0:])
print(hla_class1[0:1])
print(hla_class1[0:2])
print(hla_class1[1:])

<class 'tuple'>
hla_class1 = (4264, 5240, 3953)
4264
3953
5240
(4264, 5240, 3953)
(4264,)
(4264, 5240)
(5240, 3953)

In [16]:
hla_class1_sorted = sorted(hla_class1)
print(hla_class1_sorted)
print(sorted(hla_class1,reverse=True))
print(max(hla_class1))
print(min(hla_class1))

[3953, 4264, 5240]
[5240, 4264, 3953]
5240
3953

In [17]:
print(len(hla_class1))

3

In [22]:
hla_class1 = (hla_a,hla_b,hla_c)

ValueError: ignored

In [9]:
print(22/7)
print(round(22/7,2))

3.142857142857143
3.14

In [10]:
types_hla='hla class 1 and hla class 2'
print(types_hla.capitalize())
print(types_hla.upper())

Hla class 1 and hla class 2
HLA CLASS 1 AND HLA CLASS 2

In [13]:
import numpy as np
hla1 = np.array([hla_a,hla_b,hla_c])
print(hla1)

[4264 5240 3953]